{% extends "accounts/base_accounts.html" %}

{% block content %}

    {% if validlink %}

        <form method="post" action="">
            <div id="account_dialog" class="large">
                <p class="title">Enter new password</p>
                <p class="text">Please enter your new password twice so we can verify you typed it in correctly.</p>
                <fieldset class="large">
                    <dl>
                        <dt>{{ form.new_password1.label_tag }}:</dt>
                        <dd>{{ form.new_password1 }}</dd>
                        <dd>{{ form.new_password1.errors }}</dd>
                    </dl>
                    <dl>
                        <dt>{{ form.new_password2.label_tag }}:</dt>
                        <dd><br />{{ form.new_password2 }}</dd>
                        <dd>{{ form.new_password2.errors }}</dd>
                    </dl>
                </fieldset>
                <input class="button large" type="submit" value="Change my password" />
            </div>
        </form>

    {% else %}

        <div id="account_dialog" class="large">
            <p class="title">Password reset unsuccessful</p>
            <p class="text centered">The password reset link was invalid, possibly because it has already been used. Please request a new password reset.</p>
        </div>

    {% endif %}

{% endblock content %}
