{% extends "accounts/base_accounts.html" %}

{% block content %}

    <form method="post" action="">
        <div id="account_dialog" class="large">
            <p class="title">Password reset</p>
            <p class="text">Forgotten your password? Enter your e-mail address below, and we'll e-mail instructions for setting a new one.</p>
            <fieldset class="small">
                <dl>
                    <dt>{{ form.email.label_tag }}:</dt>
                    <dd>{{ form.email }}</dd>
                    <dd>{{ form.email.errors }}</dd>
                </dl>
            </fieldset>
            <input class="button large" type="submit" value="Reset my password" />
        </div>
    </form>

{% endblock content %}
