<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">

<head>
    <title>MASH - Heuristic selection</title>
    <link rel="stylesheet" href="/css/style.css" />
    <link rel="stylesheet" href="/css/heuristics_list.css" />
    {% include "heuristics/embedded_list_scripts.html" %}
</head>

<body>
    <div id="mash-content" class="search_popup">
        {{ html_list|safe }}
    </div>
</body>
</html>
